body {
  font-family: sans-serif;
  padding: 10px;
  width: 300px;
}
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
#status-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
